body {
    background-color: darkcyan;
}

.container {
    background-color: bisque;
    width: 700px;
}

footer {
    background-color: blueviolet;
    color: bisque;
    text-align: center;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;

}
 .flex-section {

 }

 .flex-item {
    margin: 1em;
 }

 .nav {
     display: flex;
     display: -webkit-flex;
 }

nav a {
    color: hotpink
}

nav a:hover {
    color: blueviolet;
}

 .nav li {
     list-style-type: none;
     margin: 1em;
     color: blueviolet;
 }